//colors
$brown: #6A5D4E;
$light-brown: #ddd1b5;
$dark-green: #156527;
$light-green: #def5be;
$green-transparent: rgba(21, 101, 39, 0.8);
$black-color: black;
$white-color: white;
$white-transparent: rgba(255, 255, 255, 0.7);

//typography
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

//font variables
$main-name:  'Merienda', cursive;
$primary-font: 'Source Sans Pro', serif;
$secondary-font: 'Londrina Solid', cursive;

//view sizes
$display-medium: 42rem;
$display-large: 70rem;

// box shadows
$shadow: .3rem .6rem .9rem -.4rem rgba(0, 0, 10, 0.50);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    padding: 1rem;
    font-family: $primary-font;
}

body {
    font-size: 16px;
    font-family: $primary-font;
}



//animations
@keyframes appear {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }


  @keyframes slideup {
    from {
      margin-top: 100%;
    }
  
    to {
      margin-top: 100px;
    }
  }

  @keyframes slideupbuttons {
    from {
      margin-top: 100%;
    }
  
    to {
      margin-top: 0;
    }
  }

@import 'partials/header';
@import 'partials/nav'; 
@import 'partials/main';
@import 'partials/footer';  
@import 'partials/large';
