footer a {
    padding: 1rem;
    margin: 1rem;
    background-color: green;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: .75rem;
}