body:before {
    content: url(mountains.svg);
    border-bottom: solid 2rem $dark-green;
}

.page-wrapper {
    display: grid;
    margin-bottom: 10rem;
}

aside {
    grid-row: 2/3;
}

.summary {
    //style download links
    p a {
        color: $light-green;
        border-radius: 1rem;
        padding: 0 .3rem .1rem;
        transition: background-color .3s;
        transition: color .3s;

        &:active {
            background-color: $green-transparent;
            color: $light-green;
            border: solid 2px $light-green;
        }
    }
    // fix download links to bottom
    p:nth-child(2) {
        background-color: $green-transparent;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
        text-align: center;
    }
}

h3{
    font-family: $main-name;
    padding: 1rem;
}

.preamble {
    padding: 0.5rem 1.5rem;
    margin: 1rem;
    grid-column: 1/6;
    grid-row: 2/8;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .benefits, .requirements {
        grid-column: 1/3;
    }
}

.preamble, .explanation, .participation, .benefits, .requirements {
    box-shadow: $shadow;
    border-radius: 10px;
    background-color: $light-brown;
    margin: 1rem;
}

//style body links
.participation p a, .requirements p a {
    text-decoration: none;
    color: $dark-green;
    border-radius: 1rem;
    padding: 0 .3rem .1rem;
    transition: background-color .3s;
    transition: color .3s;

    &:active {
        background-color: $light-brown;
        color: $brown;
        border: solid 2px $brown;
    }
}

//style abbreviation tags
abbr {
    text-decoration: none;
    border-bottom: .1rem dotted;
    cursor: help;
}

