.design-selection, .design-archives, .zen-resources{
    border-radius: 10px;
    background-color: $light-green;
    padding: 1rem;
}

.wrapper div {
    margin: 1rem;
}

//style nav links
ul {
    list-style-type: none;
    padding: 1rem;

    li {
        margin-bottom: 1rem;

        a {
            text-decoration: none;
            color: $dark-green;
            font-size: 1rem;
            border-radius: 1rem;
            padding: 0 .3rem .1rem;
            transition: background-color .3s;
            transition: color .3s;

            &:nth-child(1) {
                padding-left: 0;
            }
        }
    }
}

//hide archives heading
.archives {
    display: none;
}

//combine selection div with archives div
#design-selection {
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
    box-shadow: .3rem 1.5rem .9rem -.4rem rgba(0, 0, 10, 0.50);
    //make "by" smaller
    nav ul li {
        font-size: .8rem;
    }
}

//combine archives div with selection div
#design-archives {
    margin-top: 0;
    border-radius: 0 0 10px 10px;
    box-shadow: $shadow;
}

.zen-resources {
    box-shadow: $shadow;
}



.wrapper {
    transition: background-color .3s;
    transition: color .3s;

    a:active {
        background-color: $light-green;
        color: $dark-green;
        border: solid 2px $dark-green;
        &:nth-child(1) {
            padding-left: .3rem;
        }

    }

    a:hover {
        background-color: $dark-green;
        color: $light-green;
            &:nth-child(1) {
            padding-left: .3rem;
        }
    }

}