
$color-1: #6A5D4E;
$color-2: #156527;
$color-3: #A0C36F;
$color-4: #3C8038;
$color-5: #B1A381;



$color-6: #5D9D44;
$color-7: #80B257;
$color-8: #A89876;
$color-9: #9E8D6B;
$color-10: #84725C;
$main-text-color:BLACK;

/*Just some ideas we can change later - Natália */ 

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red